
<app-header titulo="Metas personales y profesionales"></app-header>

<ion-content>
    <article>
        <table>
            <tr>
                <th></th>
            </tr>
            <ol>
                <li>Mi meta personal es luchar por tener estabilidad con mi familia</li>
                <li>Mi meta profesional es finalizar mi carrera universitaria</li>
                <li>En cinco años me veo ejerciendo mi carrera universitaria</li>
                <li>Mi meta a largo plazo es tener mi propio negocio y administralo junto a mi esposa</li>
              </ol>
              <img src="assets/Imagen/Ladybug.jpg"/>
         </table>
      </article>
</ion-content>
